* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype"),
    url("./fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#root {
    width: 320px;
    height: 780px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B21;
    max-width: 320px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.info-picture {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 320px;
    margin-bottom: 20px;
}

.info-name {
    color: white;
    font-size: 1.56rem;
    font-weight: bold;
}

.info-job-title {
    color: #F3BF99;
    margin-top: 6px;
    margin-bottom: 10px;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.info-email {
    background-color: white;
    border-radius: 10%;
    height: 35px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-email > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info-linkedin > a, .info-linkedin > img {
    text-decoration: none;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info-linkedin {
    background-color: #5093E2;
    border-radius: 10%;
    height: 35px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-linkedin img {
    filter: invert(100%) sepia(0%) saturate(7427%) 
    hue-rotate(23deg) brightness(118%) contrast(118%);
}

.info-social {
    display: flex;
    gap: 20px;
}

.about-container, .interest-container {
    display: flex;
    flex-direction: column;
    background-color: #1A1B21;
    max-width: 320px;
}

.about-header, .interest-header {
    color: white;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 35px;
}

.about-info, .interest-info {
    color: #dcdcdc;
    margin-left: 35px;
}

.interest-info {
    margin-bottom: 25px;
}

.footer-container {
    background-color: #161619;
    height: 64px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.footer-github {
    display: flex;
    justify-content: center;
    padding: 16px;
    filter: invert(62%) sepia(9%) saturate(353%) 
    hue-rotate(213deg) brightness(91%) contrast(83%);
}

