* {
    margin: 0;
    padding: 0;
}

#root {
    width: 320px;
    height: 780px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B21;
    max-width: 320px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.info-picture {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 320px;
    margin-bottom: 20px;
}

.info-name {
    color: white;
    font-size: 1.56rem;
}

.info-job-title {
    color: #F3BF99;
    font-size: 1rem;
    margin-top: 6px;
    margin-bottom: 20px;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.info-email {
    background-color: white;
    border-radius: 10%;
    height: 35px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-email > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info-linkedin > a, .info-linkedin > img {
    text-decoration: none;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.info-linkedin  {
    background-color: #5093E2;
    border-radius: 10%;
    height: 35px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-linkedin img {
    filter: invert(100%) sepia(0%) saturate(7427%) 
    hue-rotate(23deg) brightness(118%) contrast(118%);
}

.info-social {
    display: flex;
    gap: 20px;
}